
@{
	ViewBag.Title = "Reset pass";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Password resetovan</h2>

<div style="border: 1px solid red">
	<p>Poslat je E-mail na tvoju adresu sa novom lozinkom</p>
</div>
