
@{
    ViewBag.Title = "SignUpstep2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Potvrdi registraciju</h2>

<div style="border: 1px solid red">
	<p>Poslat je E-mail na tvoju adresu. Potvrdi registraciju klikom na link unutar mail-a.</p>
</div>